<h1>BUSCA UN PROFESIONAL</h1>

<div class="box1">¿Que Servicio buscas?</div>
<div class="categories">
<app-list-services></app-list-services>
</div>
<app-user-results></app-user-results>
<div class="box2">
  <p>pon tu dirección y te enseñaremos lo que estas buscando</p>
  <app-address-form></app-address-form>
  <button type="button" name="button">BUSCAR</button>
</div>
<div class="prof1">

<div class="professional row">
  <img class="col-sm-3"src="assets/images/slider4.jpg">
  <div class="col-sm-7">
    <h2>Peluquería Paqui</h2>
    <h3>Te irás guapa, peinada y bien fresquita</h3>
    <div class="dates">
      <h4>Servicio: Manicura Completa </h4>
      <h4>precio: 20€</h4>
      <h4>Duración: 30 minutos</h4>
    </div>
      <h5>Descripción Servicio: Siguiendo los sucesivos pasos según la morfología de las manos </h5>
  </div>
  <div class="col-sm-1">
    <a href="/page-reserve">Reservar</a>
  </div>
  <br><br>
</div>
<div class="professional row">
  <img class="col-sm-3"src="assets/images/foto1.jpg">
  <div class="col-sm-7">
    <h2>Estetica Elisa</h2>
    <h3>haz que tu cuerpo luzca como tu</h3>
    <div class="dates">
      <h4>Servicio: Depilación con cera piernas </h4>
      <h4>Precio: 15€</h4>
      <h4>Duración: 20 minutos</h4>
    </div>
      <h5>Descripción Servicio: Depilacion integral de piernas e ingles con cera tibia </h5>
  </div>
  <br><br>
  <div class="col-sm-1">
    <a href="/page-reserve">Reservar</a>
  </div>
</div>
<div class="professional row">
  <img class="col-sm-3"src="assets/images/foto2.jpg">
  <div class="col-sm-7">
    <h2>Beauty Concept</h2>
    <h3>todos los servicios de peluquería y estética</h3>
    <div class="dates">
      <h4>Servicio: Lavar y peinar </h4>
      <h4>precio: 50€</h4>
      <h4>Duración: 60 minutos</h4>
    </div>
      <h5>Descripción Servicio: Lavado, secado y alisado </h5>
  </div>
  <div class="col-sm-1">
    <a href="/page-reserve">Reservar</a>
  </div>
</div>
<br><br  >
<div class="professional row">
  <img class="col-sm-3"src="assets/images/foto3.jpg">
  <div class="col-sm-7">
    <h2>Estetica Mizana</h2>
    <h3>todo lo que necesitas para sentirte guapa</h3>
    <div class="dates">
      <h4>Servicio: Maquillaje profesional </h4>
      <h4>precio: 30€</h4>
      <h4>Duración: 20 minutos</h4>
    </div>
      <h5>Descripción Servicio: Maquillaje completo tal y como mas te guste para cualquier evento. ¡¡Reluciras!! </h5>
  </div>
  <div class="col-sm-1">
    <a href="/page-reserve">Reservar</a>
  </div>
</div>
<br><br>
<div class="professional row">
  <img class="col-sm-3"src="assets/images/foto4.jpg">
  <div class="col-sm-7">
    <h2>La Española</h2>
    <h3>Franquicia de peluquerias low cost. ¡¡Porque tienes que darte un capricho!!</h3>
    <div class="dates">
      <h4>Servicio: Contorno de ojos </h4>
      <h4>precio: 45€</h4>
      <h4>Duración: 45 minutos</h4>
    </div>
      <h5>Descripción Servicio: tratamiento que ayudara a reducir el contorno pronunciado de tu mirada </h5>
  </div>
  <div class="col-sm-1">
    <a href="/page-reserve">Reservar</a>
  </div>
</div>
</div>
