

<div class="row-fluid">
<div class="span12"><img src="assets/images/font.png">
  <!-- <img src="assets/images/flecha.png" class="flecha"> -->
  <h1>Cambia tu estilo de vida </h1>
  <h3>Peluqueria y estetica a domicilio</h3>
</div>
<div class="box2 row">
  <div class="col-sm-4">
    <img class="circle" src="assets/images/espejo1.jpg" alt="">
    <p></p>
  </div>
  <div class="col-sm-4">
    <img class="circle" src="assets/images/espejo2.jpg" alt="">
    <p></p>
  </div>
  <div class="col-sm-4">
    <img class="circle" src="assets/images/espejo3.jpg" alt="">
    <p></p>
  </div>
  <div class="col-sm-12">
    <img class="number" src="assets/images/n1.png">
    <p>Busca un profesional disponible en tu zona en Beauty Delivery</p>
    <img class="number" src="assets/images/n2.png">
    <p>Elige los servicios que quieres contratar, el día y hora de la cita</p>
    <img class="number" src="assets/images/n3.png">
    <p>Disfruta de tus servicios de belleza en casa, la oficina o donde estés</p>
  </div>

  </div>

</div>
